{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Detail Post</h1>
    <p>이 임무를 노리는 사람</p>
    {% for user in post.user.all %}
    {{user}}
    {% endfor %}
    <p>
        <h2>제목 : {{post.title}}</h2>
        <p>작성자 : {{post.writer}}</p>
        <p>발행일 : {{post.pub_date}}</p>
        <p>상태 : {{post.status}}</p>
        <p>
            본문
            <br>
            {{post.body}}
        </p>
        해시태그<br>
        {% for tag in hashtag.all %}
            <a href="{% url 'tag_post' tag.id %}">#{{tag}}</a>
        {% endfor %}
    </p>
    <form action="{% url 'scrap' post.id%}" method="get">
        <input type="hidden" name = 'scrap' value="{{user}}">
        <button type="submit">scrap</button>
    </form>
    
    <br>
    <a href="{% url 'request' %}"> Go list </a>
    <br>
    

    {% if user.username == post.writer %}
    <a href="{% url 'edit' post.id %}">수정하기</a>
    <a href="{% url 'delete' post.id %}">삭제하기</a>
    
    {% if post.status == 'running' %}
    <a href="{% url 'end' post.id %}">미션완료</a>
    {% endif %}
    {% else %}
    {% if post.status == 'ready' %}
    {% if judge == False %}
    <a href="{% url 'missionApply' post.id %}">의뢰 신청</a>
    {% else %}
    의뢰신청 완료
    {% endif %}
    {% endif %}
    {% endif %}
   
    <hr>
    <h3>comments</h3>
    {% for comment in comments %}
   
    <p>작성자:{{comment.writer}}</p>
    
    <p>comment:{{comment.content}}</p>
    <hr>
    {% if user.username == comment.writer %}
    <a href="{% url 'comment_delete' comment.id %}">삭제하기</a>
    <details>
        <summary>수정하기</summary>
        <form action="{% url 'modify' comment.id %}" method="POST">
            {% csrf_token %}
          
              <textarea name= 'modify_comment' id="" cols="30" rows="10" placeholder="write your content" >{{comment.content}}</textarea>
            <br>
            <br>
            <input type="submit" value='수정'>
            
    </form>
    </details>
    {% endif %}
    
    
    {% endfor %}
    <form action="{% url 'new_comment' post.id %}" method="POST">
        {% csrf_token %}
        작성자 :<p> {{user.username}}</p>
        <br>
        내용 :<br> <textarea name="content" id="" cols="30" rows="10"></textarea>
        <br>
        <input type="submit">
        <br>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{%endblock%}