{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<form action="{%url 'create' %}" method="POST" enctype="multipart/form-data">
    <br><br>
    <h1 class="rb">Request Board</h1>
    <!-- <div><img class="image_h" src="{% static '로고1.png' %}" alt="" width="280;" height="170;"></div> -->
    <br><br>
    {% csrf_token %}
    <div class="card">


        <br><br>    
        {% csrf_token %}
        <div class="form-group row">
            <label for="staticUser" class="col-sm-2 col-form-label">작성자</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.username}}"
                    style="text-align: center;">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">제목</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="title" required="required"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">내용</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="body" style="height:30rem;" required="required"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">금액</label>
            <div class="col-sm-8">
                <input class="border rounded" type="number" name='price' pattern='\d*'>

            </div>
        </div>
        {% if error %}
        <p class='error'>{{error}}</p>
        {% endif %}
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">사진첨부</label>
            <div class="col-sm-8">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".jpg,.jpeg,.png,.gif" name="attached_img">
                    <label class="custom-file-label" for="customFile">사진을 선택해주세요</label>
                </div>

            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">파일첨부</label>
            <div class="col-sm-8">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="attached_file">
                    <label class="custom-file-label" for="customFile">파일을 선택해주세요</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">해시태그검색</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name='search_tag_data' id='search_tag'>
            </div>
            <br>
        </div>↓ 클릭해주세용 ↓<br>
        {% for tag in hashtag %}
        <a class="result_tag" id="result_tag" onclick="input_hashtag($(this).attr('tag'))" tag="{{tag}}"
            style="color: blue">#{{tag}}</a>
        {% endfor %}
        <br>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">해시태그</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="hashtag" placeholder="#없는건#이렇게#직접넣어주세요"
                    id="new_hashtag"></textarea>
            </div>
        </div>
        <br>
        <br>
    </div>

    <br><br><br>
    <div class="bttnn">
        <button class="btn btn-dark" type='submit'>작성하기</button>
        <a class="btn btn-dark" href="{% url 'request'%}"
            role="button">돌아가기</a></div>

    <br><br><br><br>
</form>
<style>
    .error {
        color: red;
        font-size: 1rem;
    }

    form {
        text-align: center;
    }

    .form-group {
        text-align: center;
    }

    .form-control {
        resize: none;
    }

    @media screen and (max-width:400px) {
        div {
            text-align: center;
        }
    }

    @media screen and (min-width: 1000px) {
        .bttnn {
            margin-right: 18rem;
        }

        .card {
            width: 50rem;

        }

        .rb {
            margin-right: 52rem;

        }
    }
</style>
{%endblock%}