{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <br><br>
    <div><img class="image_h" src="{% static '로고1.png' %}" alt="" width="280;" height="170;"></div>

    <br>
   {% if user.is_authenticated %}
    <div><a href="{% url 'new'%}"><img class="img_h" src="{% static '리퀘스트1.png' %}"
                onmouseover="this.src='{% static '리퀘스트2.png' %}'" onmouseout="this.src='{% static '리퀘스트1.png' %}'"
                alt="" width="245.6;" height="45;"></a></div>
    <br><br><br>
    <div class="d-none d-sm-block">
            {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="tb">&nbsp;&nbsp;&nbsp;제목</th>
                    <th scope="col">&nbsp;&nbsp;작성자</th>
                    <th scope="col">작성일&nbsp;</th>
                </tr>
            </thead>

        </table>
    </div>
    {% for post in blogs %}
    <div class="card d-none d-sm-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-h">
                    <a href="{% url 'detail' post.id %}">
                        <h5>{{post.title}}</h5>
                    </a>
                </div>
                <div class="col-sm">
                    <p>{{post.writer}}</p>
                </div>
                <div class="col-sm">
                    <h6>{{post.pub_date}}</h6>
                </div>
            </div>
        </div>

    </div>
    <div class="card d-block d-sm-none">
        <div class="container">
            <div class="row">
                <div class="col-sm-h">
                    <a href="{% url 'detail' post.id %}">
                        <b>
                            <h3>{{post.title}}</h3>
                        </b>
                    </a>
                </div>
                <div class="col-sm">

                    <p>{{post.body}}</p>

                </div>
                <div class="col-sm-a" style="color:#8E8D8B;">
                    <p>{{.writer}}&nbsp;&nbsp;|&nbsp;&nbsp;</p>
                </div>
                <div class="col-sm-b" style="color:#8E8D8B;">
                    <h6>{{post.pub_date}}</h6>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
    <br><br><br>
    <!-- {%if blogs.has_previous%}
    <a class="btn btn-dark" href="?page=1" role="button">
        </a> <a class="btn btn-dark" href="?page={{blogs.previous_page_number}}" role="button">
            </a> {%endif%} <span>{{blogs.number}}</span>
                <span>of</span>
                <span>{{blogs.paginator.num_pages}}</span>

                {%if blogs.has_next%}
                <a class="btn btn-dark" href="?page={{blogs.next_page_number}}" role="button">></a>
                <a class="btn btn-dark" href="?page={{blogs.paginator.num_pages}}" role="button">>></a>
                {%endif%} -->
                <br><br>
                {% if blogs.has_other_pages %}
                <ul class="pagination btn btn-dark"  href="?page=1" role="button"> 
                    {% if blogs.has_previous %}
                     <li>
                         <a href="?page={{ blogs.previous_page_number }}">&laquo;</a>
                   </li>
                    {% else %} 
                    <li class="disabled">
                       <span>&laquo;</span>
                   </li> 
                   {% endif %} {% if blogs.number > 2 %}
                    <li>
                        <a href="?page={{ 1 }}"> 1 </a>
                   </li>
                   <li><span>...<span class="sr-only">...</span></span>
                   </li>
                   {% endif %} {% for i in page_range %}
                   {% if blogs.number == i %}
                   <li class="active">
                       <span>{{ i }} <span class="sr-only">(current)</span></span>
                   </li>
                    {% else %}
                     <li><a href="?page={{ i }}">{{ i }}</a></li> 
                     {% endif %} 
                     {% endfor %}
                   {% if blogs.number < max_index %} 
                   <li><span>...<span class="sr-only">...</span></span></li>
                   <li><a href="?page={{ max_index|add:'2' }}">{{ max_index|add:"2" }}</a></li>
                    {% endif %}
                   {% if blogs.has_next %} 
                   <li><a href="?page={{ blogs.next_page_number }}">&raquo;</a></li>
                    {% else %}
                   <li class="disabled"><span>&raquo;</span></li>
                    {%endif %}
                    </ul>
                    {%endif%}
           
           
</div>
<style>
    
    div {
        text-align: center;
    }

    .card {
        border-top: none;
        border-left: none;
        border-right: none;
        text-align: center;


    }

    .tb {
        width: 685px;
    }

    .col-sm-h {
        width: 700px;
    }

    .col-sm-a {
        padding-bottom: 0px;
        margin-left: 70px;
    }

    .col-sm-b {
        padding-top: 0px;

    }



    @media screen and (max-width:600px) {
        .card {
            border-top: none;
            border-left: none;
            border-right: none;
            text-align: center;
            margin-bottom: 30px;


        }

        a {
            text-decoration: none;
            color: #3A6FAF;
        }
    }

    @media screen and (min-width: 1000px) {
        a {
            text-decoration: none;
            color: #8E8D8B
        }

        .card {
            border-top: none;
            border-left: none;
            border-right: none;
            text-align: center;
            margin-bottom: 10px;

        }
    }
/* 
    body {
        text-align: center;
    }

    .container {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .card {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    a {
        text-decoration: none;
        color: #000000
    }

    .ask {
        text-decoration: none;
        color: #000000
    } */

    a.noul:hover {
        text-decoration: none !important
    }

</style>

{% endblock %}