{% extends 'base.html' %}
<!-- {% load staticfiles %} -->
{% block content %}

<div class="container">
    <!-- <img src="{% static 'likelion2.png' %}" alt=""> -->
    <h1>의뢰하실?</h1>
    {% if user.is_authenticated %}

    <a href="{% url 'new'%}">의뢰 하기 </a>
    <ul>your scraped missons</ul>
    {%for post in scrap_post %}
    <a href="{% url 'detail' post.id %}">
        <li>{{post.title}}</li>
    </a>
     {%endfor%}
    {% endif %}
    <h1>Misson list</h1>
    <hr>
    <div class="row">
        {% for post in reversed_blogs %}
        <div class="col-4">
            <div class="card">
                <a href="{% url 'detail' post.id %}">
                    <b>제목 : {{post.title}}</b>
                </a>
                <hr>
                작성자 : {{post.writer}}
                <hr>
                {{post.pub_date}}
            </div>
        </div>

        {% endfor %}
    </div>
    {%if blogs.has_previous%}
    <a href="?page=1">First</a>
    <a href="?page={{blogs.previous_page_number}}">Previous</a>
    {%endif%}

    <span>{{blogs.number}}</span>
    <span>of</span>
    <span>{{blogs.paginator.num_pages}}</span>

    {%if blogs.has_next%}
    <a href="?page={{blogs.next_page_number}}">Next</a>
    <a href="?page={{blogs.paginator.num_pages}}">Last</a>
    {%endif%}
</div>


{% endblock %}