{% extends 'base.html' %}
{% block content %}

<h1>Detail Post</h1>

<p>이 글을 '좋아요'하는 사람</p>

<button class="nav" href="#" rel="popover_like" data-trigger="focus" data-placement="bottom"
data-popover-content="#like-popover">({{like_count}})</button>
<div id="like-popover" style="display:none">
<ul class="ul-popover">
    {% for blog_user in blog_like %}
        <li><a href="{% url 'profile' blog_user %}">{{blog_user}}</a></li>
    {% endfor %}
    ----------------
    <li><a href="{% url 'like_more' blog.id %}">see all</a> </li>
</ul>
</div>

<hr>
<p>  
    <h2>제목 : {{blog.title}}</h2>
    <p>작성자 : {{blog.writer}}</p>
    <p>발행일: {{blog.pub_date}}</p>

    
        본문
        <br>
        <p> {{blog.body}}</p>
        해시태그<br>
        {% for tag in hashtag.all %}
            <a href="{% url 'b_tag_post' tag.id %}">#{{tag}}</a>
        {% endfor %}
</p>
{% if user.is_authenticated %}
{% if user.username != blog.writer %}
<form action="{% url 'b_like' blog.id %}" method="get">
    <input type="hidden" name = 'like' value="{{user}}">
    <button type="submit">좋아요</button>
</form>
{% endif %}
{% endif %}
<br>

<a href="{% url 'board' %}"> home </a>
<br>
{% if user.username == blog.writer %}
<a href="{% url 'b_edit' blog.id %}">수정하기</a>
<a href="{%url 'b_delete' blog.id %}">삭제하기</a>
{% endif %}
<hr>
<h2>comments</h2>
{% for comment in comments %}
{{comment.writer}}
<br>
{{comment.content}}
<hr>
{% if user.is_authenticated %}
{% if user.username == comment.writer %}
<a href="{% url 'b_comment_delete' comment.id %}">삭제하기</a>
<details>
    <summary>수정하기</summary>
    <form action="{% url 'b_modify' comment.id %}" method="POST">
        {% csrf_token %}
      
          <textarea name= 'modify_comment' id="" cols="30" rows="10" placeholder="write your content" >{{comment.content}}</textarea>
        <br>
        <br>
        <input type="submit" value='수정'>
        
    </form>
</details>
{% endif %}
{% endif %}
{% endfor%}
{% if user.is_authenticated %}
<form action="{% url 'b_new_comment' blog.id %}" method="POST">
    {% csrf_token %}
    작성자 :<p> {{user.username}}</p>
    <br>
    내용 : <textarea name="content" id="" cols="30" rows="10"></textarea>
    <input type="submit">
</form>
{% endif %}
</div>
<br>
<a href="{% url 'board' %}">뒤로가기 </a>

{% endblock %}