{% extends 'base.html' %}
{% block content %}
<h1>새 글을 작성해주세요</h1>

<form action="{%url 'b_create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    제목 : <input type="text" name='title'>
    <br>
    <br>
    작성자 : {{user.username}}
    <br>
    <br>
    본문 : <textarea name="body" id="" cols="30" rows="10" placeholder="write your content"></textarea>
    <br>
    <br>
    사진첨부<br>
    <input type="file" accept=".jpg,.jpeg,.png,.gif" name="attached_img">
    <br>
    파일첨부<br>
    <input type="file" name="attached_file">
    <br>
    {% for tag in hashtag %}
    <!-- <input type="checkbox" name="hashtag" id="tag_box" class="tag_list" value="{{tag}}">#{{tag}} -->
    <a href="">{{tag}}</a>
    {% endfor %}
    <br>
    <p>* 해시태그 앞에 #을 붙여주세요! ex) #이렇게#태그걸어라#알겠냐</p>
    -> <input type="text" name='hashtag'>
    <br><br>
    <button type='submit'>작성하기</button>
</form>
<br>
<a href="{% url 'board' %}">취소 </a>
{% endblock %}