{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<form action="{%url 'b_create' %}" method="POST">
    <br><br>
    <!-- <div><img class="image_h" src="{% static '로고1.png' %}" alt="" width="280;" height="170;"></div> -->
    <h1 class="fr">Free Board</h1>
    <br><br>
    {% csrf_token %}
    <div class="card">


        <br>
        {% csrf_token %}
        <div class="form-group row">
            <label for="staticUser" class="col-sm-2 col-form-label">작성자</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.username}}"
                    style="text-align: center;">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label" required='required'>제목</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="title" required='required'></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">내용</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="body" style="height:30rem;"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">태그</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="hashtag" placeholder="#이렇게#작성해줘요#참쉽죠?" id="new_hashtag"></textarea>
            </div>
        </div>
        <br>
        <div class="ht" style="display:inline;">
            ## SEARCH TAG ## <br>
            <input type="text" name='search_tag_data' id='search_tag'><br><br>
            {% for tag in hashtag %}
            <a class="result_tag" id="result_tag" onclick="input_hashtag($(this).attr('tag'))" tag="{{tag}}">#{{tag}}</a>
            {% endfor %}
            <br><br><br>
        </div>
        
    <br><br><br>
    <div class="bttn">
        <button class="btn btn-dark" type='submit'>작성하기</button></div>
    <br><br><br>

</form>
<style>
    /* .card {
        text-align: center;
    } */

    form {
        text-align: center;
    }

    .form-group {
        text-align: center;
    }

    .form-control {
        resize: none;
    }

    @media screen and (max-width:400px) {
        div {
            text-align: center;
        }
    }

    @media screen and (min-width: 1000px) {
        .bttn {
            margin-right: 18rem;
        }

        .card {
            width: 50rem;

        }

        .fr {
            margin-right: 56rem;

        }

    }
</style>


{% endblock %}