{% load staticfiles %}

<!doctype html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <title>login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <div class="apont">
    <div class="container">
      <div><img class="image_h" src="{% static '로고1.png' %}" alt="" width="280;" height="170;"></div>
      {% if error %}
      <p id='error'>{{error}}</p>
      <br>
      {% endif %}
      <form method="POST" action="{% url 'approve' profile_dic=private tmp_pic=picture_id %}" name='submitForm'>
        {% csrf_token %}
        <input type="hidden" id='error_flag' name="error_flag" value='{{e_flag}}'>
        <input type="hidden" id='tmp' name="flag" value='{{judge}}'>
        <input type="hidden" name="sn" value='{{sn}}'>
        <input type="hidden" id='time' name="time" value='{{left_time}}'>
        <div class="form-group row">
          <label for="inputSsn" class="col-sm-2 col-form-label">인증번호</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="ssn">
          </div>
        </div>


      </form>
      <div id="timerTxt"></div>
      <input class="btn btn-dark" type="submit" value="인증">
    </div>
  </div>
  <script type="text/javascript">

    var timerId;
    var timerSec;
    if ((document.getElementById('error_flag').value == 'False') && (document.getElementById("tmp").value == 'False')) {
      timerSec = 180;
    }
    else if ((document.getElementById('error_flag').value == 'True') && (document.getElementById("tmp").value == 'False')) {
      timerSec = document.getElementById("time").value;

    }


    window.onload = function () {

      timerId = setInterval('timer()', 1000);

    }



    function timer() {


      var min = Math.floor(timerSec / 60)

      var sec = timerSec % 60;



      var msg = (min < 10 ? "0" + min : min) + ":" + (sec < 10 ? "0" + sec : sec);

      timerSec--;

      document.getElementById("time").value = timerSec


      if (timerSec < 0) { /* time End*/

        msg += "<br>Timer End!"

        clearInterval(timerId);
        document.getElementById("tmp").value = 'True';

        document.submitForm.submit()

      }



      document.getElementById("timerTxt").innerHTML = msg;



    }

  </script>




</body>
<style>
  @import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

  .apont {
    font-family: 'Do Hyeon', sans-serif;
  }

  div {
    text-align: center;
  }

  .form-group {
    text-align: center;
  }

  .form-control {
    resize: none;
  }

  

  #timerTxt {
    color: red;
  }

  @media screen and (max-width:400px) {
    div {
      text-align: center;
    }

    
  }

  @media screen and (min-width: 1000px) {
    div {
      text-align: center;
    }

    
  }