{% load staticfiles %}
{% block content %}
{% if error %}
{{ error }}
<br>
<br>
{% endif %}
{% if error1 %}
{{error1}}
<br>
{% endif %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>미션수행</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>


<body>




    <form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <br><br>
        <div class="ppontt">
            <div class="wwhole">
                <div><img class="image_h" src="{% static '진짜.png' %}" alt="" width="360;" height="150;"></div>
                <br><br><br><br>

                <div>
                    <div class="whole">
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">ID</label>
                            <div class="col-sm-9">
                                <input type="text" name="username" id="email" class="inpt" required="required"
                                    placeholder="Your id">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="password1" id="password" class="inpt" required="required"
                                    placeholder="password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label">Confirm Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="password2" id="password" class="inpt" required="required"
                                    placeholder="confirm password">

                            </div>
                        </div>
                        <hr>


                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">이름</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="name" placeholder="write your name">

                            </div>
                        </div>
                        <hr>

                        <div class="form-group row">
                            <label for="inputUniversity" class="col-sm-2 col-form-label">대학교</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="university" placeholder="write your university"
                                    id='search_school'>
                                <br>
                                {% for sch_name, e_mail in school.items %}
                                <a class="result_school"
                                    onclick="input_school($(this).attr('key'),$(this).attr('value'))" key="{{sch_name}}"
                                    value="{{e_mail}}">{{sch_name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-2 col-form-label">이메일</label>
                            <div class="form-inline">
                                <div style="display:inline-block;">
                                    <input class="form-control" name="email" placeholder="write your email"
                                        style="width:15rem; margin-left: 1rem;">&nbsp;@&nbsp;
                                    <input type="text" readonly class="form-control-plaintext" name="domain"
                                        id="selected_domain" value="yourschool.ac.kr" style="width:15rem;">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label for="inputDepartment" class="col-sm-2 col-form-label">학과</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="department" placeholder="write your department">

                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label for="inputTitle" class="col-sm-2 col-form-label">프로필사진</label>
                            <div class="col-sm-9_h">
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="pofile_img"
                                            id="inputGroupFile02" accept=".jpg,.jpeg,.png,.gif">
                                        <label class="custom-file-label" for="inputGroupFile02"
                                            aria-describedby="inputGroupFileAddon02"></label>
                                    </div>
                                </div>
                                <!-- <input type="file"  > -->
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label for="inputTitle" class="col-sm-2 col-form-label">자기소개</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" name="introduction" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            
                            <div class="col-sm-9">
                                <div class="hash_s" style="display:inline-block;">
                                    
                                        해시태그 검색<br><br>
                                        <input class="form-control" type="text" name='search_tag_data' id='search_tag'><br><br>
                                        {% for tag in hashtag %}
                                        <a class="result_tag" id="result_tag"
                                            onclick="input_hashtag($(this).attr('tag'))" tag="{{tag}}">#{{tag}}</a>
                                        {% endfor %}
                                    
                                        해시태그 추가<br>
                                        <span class="ex_hashtag" style="color: crimson">*해시태그 앞에 #을 붙여주세요!<br> ex)
                                            #이렇게#태그걸어라#알겠냐</span><br>
                                        ↓<input class="form-control" type="text" name='add_hashtag' id="new_hashtag"></div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <br><br>

            <input type="submit" value='Sign Up!' class="submit"
                style="background: rgb(250, 250, 249); border: 1px white; border-bottom: 2.8px solid  rgb(12, 12, 12);">


        </div>
        </div>


        </div>
        <br><br>
        </div>

        </div>
    </form>

</body>
<script type="text/javascript">

    $('.result_tag').hide();
    $('.result_school').hide();

    $('[rel="popover"]').popover({
        container: 'body',
        html: true,
        content: function () {
            var clone = $($(this).data('popover-content')).clone(true).html();
            return clone;
        }
    }).click(function (e) {
        e.preventDefault();
    });

    $('[rel="popover_like"]').popover({
        container: 'body',
        html: true,
        content: function () {
            var clone = $($(this).data('popover-content')).clone(true).html();
            return clone;
        }
    }).click(function (e) {
        e.preventDefault();
    });

    $('[rel="popover_scrap"]').popover({
        container: 'body',
        html: true,
        content: function () {
            var clone = $($(this).data('popover-content')).clone(true).html();
            return clone;
        }
    }).click(function (e) {
        e.preventDefault();
    });

    function check() {
        var chkbox = document.getElementsByName('input_board');
        var chk = false;
        for (var i = 0; i < chkbox.length; i++) {
            if (chkbox[i].checked) { chk = true; }
            else { chk = false; }
        }
        if (chk == false) {
            alert("검색 할 게시판을 선택해주세요!");
            return false;
        }
        else { return true; }
    }

    //해시태그 검색
    jQuery(function ($) {
        $('#search_tag').keyup(function (event) {
            var val = $(this).val();
            if (val == "") {
                $('.result_tag').hide();
            } else {
                $('.result_tag').hide();
                $(".result_tag:contains('" + val + "')").show();
            }
        });
    });

    function input_hashtag(val) {
        var tag = "#" + val;
        tag = $('#new_hashtag').val() + tag;
        $('#new_hashtag').val(tag);
    }

    //대학교 검색
    jQuery(function ($) {
        $('#search_school').keyup(function (event) {
            var name = $(this).val();
            if (name == "") {
                $('.result_school').hide();
            } else {
                $('.result_school').hide();
                $(".result_school:contains('" + name + "')").show();
            }
        });
    });


    function input_school(key, value) {
        var school = key;
        var email = value;
        $('#search_school').val(school);
        $('#selected_domain').val(email);
    }


</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

    .ppontt {
        font-family: 'Do Hyeon', sans-serif;
        text-align: center;
    }

    div {
        text-align: center;
    }

    .form-group {
        text-align: center;
    }


    .form-control {
        resize: none;
    }

    .submit-wrap {
        text-align: center;


    }

    .whole {
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;

    }






    @media screen and (max-width:400px) {
        div {
            text-align: center;
        }
        .custom-file{
            width:5rem;
            margin-left:15px;
        }
        .form-control-plaintext{
            margin-left:5rem;
        }        

        /* .col-sm-9_h {

            margin-left: 70px;
        } */
    }

    @media screen and (min-width: 1000px) {
        div {
            text-align: center;
        }
        .custom-file{
            width:69rem;
            margin-left:15px;
        }
        .hash_s{
            margin-left:25rem;
        }


    }
</style>



{% endblock %}