{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<!-- 새사이드네브 -->
<div id="mysidenav" class="sidenav">
    <a style="font-size:40px;" href="#" class="closebtn" onclick='closeNav()'>x</a>
    <a style="font-size:45px;" href="">MY MISSION</a><br>
    <br>
    <br>
    <a style="font-size:35px;" href="">수행중인 미션</a><br>
    <a style="font-size:35px;" href="">수행완료된 미션</a><br>
    <a style="font-size:35px;" href="">의뢰중인 미션</a><br>
    <a style="font-size:35px;" href="">의뢰완료된 미션</a><br>
    <a style="font-size:35px;" href="">스크랩한 미션</a>
</div>

<span class="openmenu" onclick='openNav()'><i class="fa fa-angle-double-left fa-5" aria-hidden="true"></i> <a
        style="font-size:40px;">
        ◀Open Mission
    </a></span>

<script>
    function openNav() {
        document.getElementById('mysidenav').style.width = '300px';
    }
    function closeNav() {
        document.getElementById('mysidenav').style.width = '0';
    }
</script>
<br>
<div class="title">
    <h1>Your Request</h1>
</div>
<br>



{% for commission in applications %}
<a href="{% url 'detail' commission.id %}">

    <br>제목 : {{commission.title}}
</a>
<p>{{commission.pub_date}}</p>
<p><a href="{% url 'commission_quit' commission.id %}">의뢰포기 </a></p>

{% if commission.status == 'ready' %}
<details>

    <summary>수행자들</summary>

    {% for applie in appliers%}
    {% if applie.connector == commission.id %}
    

    <form action="{% url 'start' post_id=commission.id app_id=applie.profile_id %}" method="POST">
        {% csrf_token%}

        <button type="submit"><br><h3>{{applie.profile_id}}님의 수행신청 승낙</h3></button>

    </form><a href="{% url 'profile' applie.profile_id%}">▷{{applie.profile_id}}◁</a>
    <a href="#"
        onclick="window.open('{% url 'chat' app_id=applie.id request_id=commission_user.id  %}','채팅창','width=500,height=700')">채팅/</a>
    <a href="{% url 'disagree' post_id=commission.id app_id=applie.profile_id %}">거절</a>
    


    {% endif %}


    {% endfor %}

</details>
{% else %}
{% for applie in appliers%}
{% if applie.connector == commission.id %}
{% if commission.approved_id == applie.profile_id%}
수행중인 계정 &nbsp;:&nbsp;<a href="{% url 'profile' applie.profile_id%}">{{applie.profile_id}}</a>

{% if commission.s_flag == True %}
제출상태&nbsp;:제출완료&nbsp;<br>

<br>

<a href="{% url 'submission' commission.id %}">제출물 보기</a>
{% else %}
&nbsp;/&nbsp;제출상태&nbsp;:&nbsp;제출전<br>

{% endif %}
<a href="#"
    onclick="window.open('{% url 'chat' app_id=applie.id request_id=commission_user.id  %}','채팅창','width=500,height=700')">▷채팅◁</a><hr>
{% endif %}
{% endif %}

{% endfor %}
{% endif %}{% endfor %}
<hr>
</div>
</div>
</div>



</div>
<br>

</div>
<style>
    .hr {
        border: none;
        border-top: 3px dotted blue;
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 50%;
    }


    a {
        all: unset;
        text-align: center;
    }

    a:hover {
        text-decoration: none;
        color: rgb(50, 161, 137);
    }

    hr {
        border-top: white 1px solid;
        border-bottom: #000000 2px solid;
    }

    .a1:hover {
        color: rgb(247, 68, 74);
    }

    .title {
        text-decoration: underline;
    }

    @media screen and (min-width: 500px) and (max-width:200px) {
        .top {
            display: none;
        }
    }

    @media screen and (min-width: 1000px) {
        p {
            font-size: 1.7rem;
        }

        hr {
            width: 70rem;
        }

        a {
            font-size: 2rem;
        }

        .top4 {
            position: fixed;
            bottom: 0.5rem;
            right: 23.5rem;
        }

        .back2 {
            position: fixed;
            bottom: 0.5rem;
            right: 25.5rem;
        }

        .title {
            font-size: 60px;
        }

        .top {
            display: none;
        }

        .plus {
            font-size: 33px;
        }

        h1 {
            font-size: 50px;
        }

        .list {
            font-size: 33px;
        }

        .list_title {
            font-size: 33px;
        }
    }
</style>


{% endblock %}