{% extends 'base.html'%}

{% block content %}
{% load staticfiles %}
<!-- 새사이드네브 -->
<div id="mysidenav" class="sidenav">
        <a style="font-size:40px;" href="#" class="closebtn" onclick='closeNav()'>x</a>
        <a style="font-size:45px;" href="">MY MISSION</a><br>
        <br>
        <br>
        <a style="font-size:35px;" href="">수행중인 미션</a><br>
        <a style="font-size:35px;" href="">수행완료된 미션</a><br>
        <a style="font-size:35px;" href="">의뢰중인 미션</a><br>
        <a style="font-size:35px;" href="">의뢰완료된 미션</a><br>
        <a style="font-size:35px;" href="">스크랩한 미션</a>
    </div>
    
    <span class="openmenu" onclick='openNav()'><i class="fa fa-angle-double-left fa-5" aria-hidden="true" ></i> <a style="font-size:40px;">◀Open Mission</a></span>
    
    <script>
        function openNav() {
            document.getElementById('mysidenav').style.width = '300px';
        }
        function closeNav() {
            document.getElementById('mysidenav').style.width = '0';
        }
    </script>
    <br>
    <div class="title" >Ongoing Mission</div>
    <br>
{% for post in performing_post %}
<a href="{% url 'detail' post.id %}">

    제목 : {{post.title}}
</a>

<a href="{% url 'profile' post.writer %}">작성자 : {{post.writer}}</a>
<p>{{post.pub_date}}
{% for perform_profile in perform_profiles %}
{% if perform_profile.profile_id == post.writer %}
<br><a href="#" onclick="window.open('{% url 'chat' app_id=perform_profile.id request_id=perform_user.id   %}','채팅창','width=500,height=700')">채팅</a>
&nbsp 
<a href="{% url 'mission_quit'  post.id %}">수행포기</a>
{% if post.approved_id == request.user.username %}
{% if post.s_flag == False %}
<a href="{% url 'submit_page' post.id %}">제출 페이지</a>
{% else %}
제출완료
<a href="{% url 'submission' post.id %}">제출 결과</a>
{% endif %}
{% else %}
<a style="color:rgb(247, 68, 74); ">&nbsp(수락 대기)</a>
{% endif %}
{% endif %}
{% endfor %}
</p> 
<hr>

{% endfor %}
<br>
<div class="top4" ><a href="#"><img  src="{% static 'top.png' %}" width="50rem;"></a>
    <div class="back2"><a href="{% url 'profile' perform_user.profile_id%}"><img src="{% static '뒤5.png' %}" width="50rem;"></a></div>
</body>
<style>
a{
    all:unset;
}

a:hover{
    text-decoration: none;
    color: rgb(50, 161, 137); 
}
hr{
    border-top: white 1px solid;
    border-bottom: #000000 2px solid;
}
.a1:hover{
    color: rgb(247, 68, 74);
}
.title{
    text-decoration: underline;
}
@media screen and (max-width:600px) {
p{
    font-size: 1rem;
}
hr{
    width: 19rem;
}
a{
    font-size: 1.2rem;
}
.top4{
    position: fixed; 
    bottom:0.5rem; 
    right:0.3rem;
}
.back2{
    position: fixed; 
    bottom:0.5rem; 
    right:2.5rem;
}


.title {
  font-size: 30px;
}


.top {
    display: none;
}

h1{
font-size: 30px;
margin: 1rem 0 0 0;
 }
.list{
    font-size: 22px;
}
.list_title{
    font-size: 22px;
}


}
@media screen and (min-width: 500px) and (max-width:200px) {
    .top {
    display: none;
}
}

@media screen and (min-width: 1000px) {
p{
    font-size: 1.7rem;
}
hr{
    width: 70rem;
}
a{
    font-size: 2rem;
}
.top4{
    position: fixed; 
    bottom:0.5rem; 
    right:23.5rem;
}
.back2{
    position: fixed; 
    bottom:0.5rem; 
    right:25.5rem;
}

.title {
  font-size: 60px;
}

.top {
 display: none;
}

.plus{
font-size: 33px;
}
h1{
     font-size: 50px;
 }
.list{
    font-size: 33px;
}
.list_title{
    font-size: 33px;
}
}
</style>

{% endblock %}
<!-- QNQN -->
