{% extends 'base.html'%}

{% block content %}
{% load staticfiles %}


<!-- 새사이드네브 -->
<div id="mysidenav" class="sidenav">
        <a style="font-size:40px;" href="#" class="closebtn" onclick='closeNav()'>x</a>
        <a style="font-size:45px;" href="">MY MISSION</a><br>
        <br>
        <br>
        <a style="font-size:35px;" href="{% url 'performing' profile_id %}">수행중인 미션</a><br>
        <a style="font-size:35px;" href="{% url 'performing_end' profile_id %}">수행완료된 미션</a><br>
        <a style="font-size:35px;" href="{% url 'commissioned' profile_id %}">의뢰중인 미션</a><br>
        <a style="font-size:35px;" href="{% url 'commission_end' profile_id %}">의뢰완료된 미션</a><br>
        <a style="font-size:35px;" href="{% url 'scrap' profile_id %}">스크랩한 미션</a>
    </div>
    
    <span class="openmenu" onclick='openNav()'><i class="fa fa-angle-double-left fa-5" aria-hidden="true" ></i> <a style="font-size:40px;">◀Open Mission</a></span>
    
    <script>
        function openNav() {
            document.getElementById('mysidenav').style.width = '300px';
        }
        function closeNav() {
            document.getElementById('mysidenav').style.width = '0';
        }
    </script>
<div class="title" >Complete Mission</div>
<br>
{% for blocked_post in blocked_posts%}
<a href="{% url 'detail' blocked_post.id %}">
    {{blocked_post.title}} /
    {{blocked_post.writer}} /
    {{blocked_post.pub_date}}
</a>
<br>
<a class="a1" href="{% url 'submit_result' blocked_post.id %}">최종제출물 확인</a> <a>/</a>&nbsp
<a class="a1" href="{% url 'delete_final' post_id=blocked_post.id app_id=profile_id %}">삭제</a>
<hr>
{% endfor %}
{% if blocked_posts.has_other_pages %}
            <ul class="pagination">
                {% if blocked_posts.has_previous %}
                <div class="lil">
                    <li>
                        <a href="?page={{ blocked_posts.previous_page_number }}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <span>&laquo;</span>
                    </li>
                    {% endif %} {% if blocked_posts.number > 2 %}
                    <li>
                        <a href="?page={{ 1 }}"> 1 </a>
                    </li>
                    <li><span>...<span class="sr-only">...</span></span>
                    </li>
                    {% endif %} {% for i in page_range %}
                    {% if blocked_posts.number == i %}
                    <li class="active">
                        <span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if blocked_posts.number < max_index %}
                    <li><span>...<span class="sr-only">...</span></span></li>
                    <li><a href="?page={{ max_index|add:'2' }}">{{ max_index|add:"2" }}</a></li>
                    {% endif %}
                    {% if blocked_posts.has_next %}
                    <li><a href="?page={{ blocked_posts.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {%endif %}
                </div>
            </ul>
            {%endif%}
<div class="top4" ><a href="#"><img  src="{% static 'top.png' %}" width="50rem;"></a>
    <div class="back2"><a href="{% url 'profile' profile_id %}"><img src="{% static '뒤5.png' %}" width="50rem;"></a></div>
    <style>
        a{
            all:unset;
        }
        a:hover{
            text-decoration: none;
            color: rgb(50, 161, 137); 
        }
        hr{
            border-top: white 1px solid;
            border-bottom: #000000 2px solid;
        }
        .a1:hover{
            color: rgb(247, 68, 74);
        }
        .title{
            text-decoration: underline;
        }
    @media screen and (max-width:600px) {
        hr{
            width: 19rem;
        }
        a{
            font-size: 1.2rem;
        }
        .top4{
            position: fixed; 
            bottom:0.5rem; 
            right:0.3rem;
        }
        .back2{
            position: fixed; 
            bottom:0.5rem; 
            right:2.5rem;
        }
    
    
        .title {
          font-size: 30px;
        }
    
    
        .top {
          width: 40px;
        }
      
       h1{
        font-size: 30px;
        margin: 1rem 0 0 0;
         }
        .list{
            font-size: 22px;
        }
        .list_title{
            font-size: 22px;
        }
       
    
      }
      @media screen and (min-width: 500px) and (max-width:200px) {}
    
      @media screen and (min-width: 1000px) {
        hr{
            width: 70rem;
        }
        a{
            font-size: 2rem;
        }
        .top4{
            position: fixed; 
            bottom:0.5rem; 
            right:23.5rem;
        }
        .back2{
            position: fixed; 
            bottom:0.5rem; 
            right:25.5rem;
        }
    
        .title {
          font-size: 60px;
        }
    
        .top {
         display: none;
        }
       
       .plus{
        font-size: 33px;
       }
       h1{
             font-size: 50px;
         }
        .list{
            font-size: 33px;
        }
        .list_title{
            font-size: 33px;
        }
      }
        </style>
    
    </style>   
{% endblock %}

