{% extends 'base.html'%}

{% block content %}
{% for post in performing_post %}
<a href="{% url 'detail' post.id %}">

    <b>제목 : {{post.title}}</b>
</a>

<a href="{% url 'profile' post.writer %}">작성자 : {{post.writer}}</a>
<hr>
{{post.pub_date}}
<br>
{% for perform_profile in perform_profiles %}
{% if perform_profile.profile_id == post.writer %}
<a href="#" onclick="window.open('{% url 'chat' app_id=perform_user.id request_id=perform_profile.id   %}','채팅창','width=500,height=700')">채팅</a> 
<br>
<a href="{% url 'mission_quit'  post.id %}">수행포기</a>
{% if post.approved_id == request.user.username %}
{% if post.s_flag == False %}
<a href="{% url 'submit_page' post.id %}">제출 페이지</a>
{% else %}
제출완료
<a href="{% url 'submission' post.id %}">제출 결과</a>
{% endif %}
{% else %}
수락 대기
{% endif %}
{% endif %}
{% endfor %}
<br>

<hr>

{% endfor %}
<br>
<a href="{% url 'profile' perform_user.profile_id%}">뒤로가기</a>

{% endblock %}