{% extends 'base.html'%}

{% block content %}
<h1>회원정보</h1> <a href="{% url 'editProfile' %}">회원정보 수정</a>
<br><br>
회원사진<br>
<img src="{{ my_profile.profile_img.url }}">
<br><br>
아이디 : {{my_profile.profile_id}}
<br>
이름 : {{my_profile.name}}
<br>
학교 : {{my_profile.university}}
<br>
전공 : {{my_profile.department}}
<br>
평점 :
<p>간단한 본인소개</p>
{{my_profile.introduction}}
충전된 금액:{{my_profile.money}}
<details>
    <summary>충전</summary>
    <form action="{% url 'recharge' my_profile.id %}" method="POST">
        {% csrf_token %}
      
          충전금액:<input type="text" name='charge_money'>
          <input type="submit" value='확인'>
   
        
</form>
</details>
<br>
<br><br>
{% for tag in tag_list %}
 <a href="{% url 'tag_post' tag.id %}">#{{tag}}</a>
{% endfor %}
<br><br>
<a href="{% url 'performing' %}">수행중인 미션</a><br>
<a href="{% url 'commissioned' %}">의뢰중인 미션</a><br>
<a href="{% url 'scrap' %}">스크랩한 미션</a>

{% endblock %}