{% extends 'base.html'%}

{% block content %}
<h1>회원정보</h1> <a href="{% url 'editProfile' %}">회원정보 수정</a>
<br><br>
<p>회원사진</p>
이름 : {{my_profile.name}}
<br>
닉네임 (lvl): {{my_profile.nickname}}
<br>
학교 : {{my_profile.university}}
<br>
전공 : {{my_profile.department}}
<br>
평점 :
<p>간단한 본인소개</p>
{{my_profile.introduction}}
<br>
<br>
<p>#해시태그</p>

<a href="{% url 'performing' %}">수행중인 미션</a><br>
<a href="{% url 'commissioned' %}">의뢰중인 미션</a><br>
<a href="{% url 'scrap' %}">스크랩한 미션</a>

{% endblock %}