{% extends 'base.html'%}

{% block content %}

<h1>회원정보</h1> 
{% if request.user.username == my_profile.profile_id %}
<a href="{% url 'editProfile' my_profile.profile_id %}">회원정보 수정</a>
{% else %}
<h6>--유저 본인이 아닙니다.--</h6>
{% endif %}
<h1></h1>
<br><br>
회원사진<br>
<img src="{{ my_profile.profile_img.url }}">
<br><br>
아이디 : {{my_profile.profile_id}}
<br>
이름 : {{my_profile.name}}
<br>
학교 : {{my_profile.university}}
<br>
전공 : {{my_profile.department}}
<br>
평균 평점 :{{average_rate}}
<br>
총 클리어한 미션:{{number}}
<p>간단한 본인소개</p>
{{my_profile.introduction}}
<br>
<details>
  <summary>후기</summary>
  {% for review in review_objects %}
  의뢰자:{{review.writer}}<br>
  평점:{{review.ratings}}<br>
  후기:{{review.reviews}}<br>
  <hr>
  {% endfor %}
</details>
  <br>
  {% if request.user.username != my_profile.profile_id %}
  <details>
    <summary>신고하기</summary>
    <form action="{% url 'complain' my_profile.id %}" method="POST">
        {% csrf_token %}
      
          사유:<textarea name= 'complain_content' id="" cols="30" rows="10" placeholder="write your complain" ></textarea>
          <input type="submit" value='신고'>
   </form>
  </details>
  <br>
  <a href="#" onclick="window.open('{% url 'chat' app_id=my_profile.id request_id=user_profile.id   %}','채팅창','width=500,height=700')">채팅</a> 
  {% endif %}
<br>
{% for tag in tag_list %}
 <a href="{% url 'tag_post' tag.id %}">#{{tag}}</a>
{% endfor %}
<br><br>

{% if request.user.username == my_profile.profile_id %}
충전된 금액:{{my_profile.money}}
<details>
    <summary>충전</summary>
    <form action="{% url 'recharge' my_profile.id %}" method="POST">
        {% csrf_token %}
      
          충전금액:<input type="text" name='charge_money'>
          <input type="submit" value='확인'>
   
        
</form>
</details>
<br>
<a href="{% url 'performing' my_profile.profile_id %}">수행중인 미션</a><br>
<a href="{% url 'performing_end' my_profile.profile_id %}">수행완료된 미션</a><br>
<a href="{% url 'commissioned' my_profile.profile_id %}">의뢰중인 미션</a><br>
<a href="{% url 'commission_end' my_profile.profile_id %}">의뢰완료된 미션</a><br>
<a href="{% url 'scrap' my_profile.profile_id %}">스크랩한 미션</a>
<br><br>
{% endif %}

{% endblock %}