{% extends 'base.html'%}
{% block content %}
<h1> 제출결과물 </h1>
<br>

제목:{{submission_result.title}}
<br>
작성자:{{submission_result.writer}}
<br>
본문:{{submission_result.body}}
{% if submission_result.writer == user.username %}
<details>
<summary>제출 수정</summary>
<form action="{% url 'submission_edit' submission_id=submission_result.id postId=post_id %}" method="POST">
    {% csrf_token %}
  
      <textarea name= 'content' id="" cols="30" rows="10" placeholder="write your content" >{{submission_result.body}}</textarea>
    <br>
    <input type="submit" value='수정'>
    
</form>
</details>

{% endif %}
{% endblock %}
