{% extends 'base.html' %}
{% block content %}


<h1>상세페이지</h1>
<div class="container jumbotron">
        <h1>{{ blog.title }}</h1>
        <p>{{ blog.pub_date }}</p>
        <p>{{ blog.body }}</p>
        <a href="{% url 'home1' %}">돌아가기</a>

        <a href="{% url 'update' blog.id %}">수정하기</a>
        <a href="{% url 'delete' blog.id %}">삭제하기</a>
        <hr>
        <h2>comments</h2>
        {% for comment in comments %}
        작성자:{{comment.writer}}
        <br>
        댓글:{{comment.content}}
        <hr>
        {% endfor%}
        <form action="{% url 'new_comment' blog.id %}" method="POST">
            {% csrf_token %}
            작성자 : <input name="writer" type="text">
            <br>
            내용 : <textarea name="content" id="" cols="30" rows="10"></textarea>
            <input type="submit">
        </form>
 </div>

{%endblock%}