{% extends 'base.html'%}

{% block content %}
    <h1>삐삐</h1>
    <!--글쓰기-->
    <a href="{% url 'newblog' %}">글쓰기</a>

    <!--블로그 목록 뜨는곳-->
    {% for blog in posts %}
      <h2>{{blog.title}}</h2>
      <h5>{{blog.pub_date}}</h5>
      <p>{{blog.summary}}<a href="{% url 'detail' blog.id %}">...more</a></p>
      <a href = "{% url 'update' blog.id %}">수정</a>
      <a href = "{% url 'delete' blog.id %}">삭제</a>

     <hr>

    {% endfor %}
    <!--페이지네이터-->
    <div class='container'>
        {%if posts.has_previous%}
        <a href="?page=1">First</a>
        <a href="?page={{posts.previous_page_number}}">Previous</a>
        {%endif%}

        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>

        {%if posts.has_next%}
        <a href="?page={{posts.next_page_number}}">NEXT</a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
        {%endif%}
    </div>
{% endblock %}