{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Detail Post</h1>
    <p>이 임무를 노리는 사람</p>
    {% for user in post.user.all %}
    {{user}}
    {% endfor %}
    <p>
        <h2>제목 : {{post.title}}</h2>
        <p>작성자 : {{post.writer}}</p>
        <p>발행일 : {{post.pub_date}}</p>
        <p>상태 : {{post.status}}</p>
        <p>
            본문
            <br>
            {{post.body}}
        </p>
    </p>
    <form action="{% url 'scrap' post.id%}" method="get">
        <input type="hidden" name = 'scrap' value="{{user}}">
        <button type="submit">scrap</button>
    </form>
    
    <br>
    <a href="{% url 'request' %}"> Go list </a>
    <br>
    

    {% if user.username == post.writer %}
    <a href="{% url 'edit' post.id %}">수정하기</a>
    <a href="{% url 'delete' post.id %}">삭제하기</a>
    {% if post.status == 'ready' %}
    <a href="{% url 'start' post.id %}">미션수행</a>
    {% elif post.status == 'running' %}
    <a href="{% url 'end' post.id %}">미션완료</a>
    {% endif %}
    {% endif %}
    
    <hr>
    <h3>comments</h3>
    {% for comment in comments %}
   
    <p>작성자:{{comment.writer}}</p>
    {% if comment.edit == False %}
    <p>comment:{{comment.content}}</p>
    <hr>
    
    <a href="{% url 'comment_delete' comment.id %}">삭제하기</a>
    <a href="{% url 'comment_edit' comment.id %}">수정하기</a>
    {% else %}
    <form action="{% url 'modify' comment.id %}" method="POST">
        {% csrf_token %}
      
          <textarea name= 'modify_comment' id="" cols="30" rows="10" placeholder="write your content" >{{comment.content}}</textarea>
        <br>
        <br>
        <input type="submit" value='수정'>
        
</form>
    {% endif %}
    {% endfor %}
    <form action="{% url 'new_comment' post.id %}" method="POST">
        {% csrf_token %}
        작성자 :<p> {{user.username}}</p>
        <br>
        내용 :<br> <textarea name="content" id="" cols="30" rows="10"></textarea>
        <br>
        <input type="submit">
        <br>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{%endblock%}