{% extends 'base.html' %}
{% block content %}
제목 : {{announcement.title}}<br><br>
<!-- 작성자 : {{announcement.writer}}<br> -->
본문
<img src="{{announcement.announcement_img.url}}" alt=""><br><br>
{{announcement.content}}
<br>
<br>

{% if announcement.announcement_file == "files/dummy.txt" %}
    (첨부된 파일이 없습니다)
{% else %}
    첨부파일 : <a href="{{announcement.announcement_file.url}}" download="">{{announcement.announcement_file}}</a><br>
{% endif %}
<br><hr><br>
{% if judge == True %}
<a href="{% url 'announce_delete' announcement.id %}">삭제하기</a>

<a href="{% url 'announce_edit' announcement.id %}">수정하기</a>
{% endif %}
{% endblock %}