{% load staticfiles %}
<div class="ptu" >
    <div class="container" style="text-align:center;">
        <br><br><br><br><br><br>
        <div><img class="image_h" src="{% static '진짜.png' %}" alt="" width="480;" height="280;"></div>
        <br><br>
        <!-- <h1>you want <a class="b" href="{% url 'home' %}">request ?</a></h1> -->
        <a  class="b" href="{% url 'login' %}" onMouseOver='this.innerHTML="GO sign in(or up) now!"' onMouseOut='this.innerHTML="You want see Misson?"' >You want see Misson?</a>
    </div>
</div>
<style>
    @import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

    .ptu {
        font-family: 'Do Hyeon', sans-serif;
        text-align: center;
    }
    a {
            text-decoration: none;
            color: rgb(61, 65, 70);

    }

    .b:hover {
        all: unset;
        color: rgb(50, 161, 137);

    }
    /* style="all:unset;   border: 12rem solid rgb(255, 255, 255);   background: rgb(255, 255, 255); color: black; font-size: 4rem;" */
</style>