{% extends 'base.html'%}

{% block content %}

<h1>메인 페이지입니당</h1>
<br>
{% if judge == True %}
<a href="{% url 'dissatisfication'%}">민원사항</a>
{% endif %}
<br>
{% if user.is_authenticated %}
<a href="{% url 'board'%}">자유게시판</a>
<br><br>
<a href="{% url 'request'%}">의뢰게시판</a>


{% endif %}
<br>
<a href="{% url 'announcement_board' %}">공지사항</a>
<br>
<!-- 미션을 많이 수행한 top3 수행자 닉네임 표시 -->
<span>Hot 수행자 : </span>
{% for hot_user in hot_users %}
    <a href="{% url 'profile' hot_user.profile_id %}">{{hot_user.profile_id}}</a>
{% endfor %}
<br><br>
<!-- 해당 시스템 총 미션수행완료 갯수 표시 -->
<p>현재 완료된 미션수행은 {{mission_completed}}건 입니다.</p>

<!-- 최근 올라온 의뢰글 표시 -->
<p>진행되지 않은 의뢰는 {{ready_number}}건 입니다.</p>

<p>현재 진행 중인 의뢰는 {{running_number}}건 입니다.</p>

<span>최신 의뢰</span><br>
{% for recent_post in recent_posts %}
    {{recent_post.title}}
{% endfor %}
<br><br>    

<!-- 해시태그 정보 참고하여 추천 의뢰물 표시-->
<p>추천 의뢰</p>


{% endblock %}